html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

header {
    background: #5ee;
}

#content {
    padding-bottom: 30px;
   /* Height of the footer element */;
}

footer {
    width: 70%;
    position: absolute;
    bottom: 0;
    left: 15%;
    /*
    background: #ee5;
    height: 80px;
    */
}

.small-footer {
    font-size: 0.8em;
    padding-bottom: 1em;
}
