nav ul {
    display:inline;
    width:100%;
    padding:0 !important;
    margin:0;
    list-style:none;
}

nav li {
    display:inline-block;
    list-style-type: none;
    margin: 0px 30px 0px 0px;
}

