<ul>
	<li><a href="{{site.baseurl}}index.html">About</a></li>
	<li><a href="{{site.baseurl}}projects.html">Software Projects</a></li>
	<li><a href="{{site.baseurl}}contact.html">Contact</a></li>
</ul>
