---
---

<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" href="{{site.baseurl}}/css/github-markdown.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/rezepte.css">
    <style>
      .markdown-body {
          min-width: 200px;
          max-width: 70%;
          margin: 0 auto;
          padding: 30px;
      }
    </style>
    <link rel="stylesheet" href="{{site.baseurl}}css/navigation.css">
    <link rel="stylesheet" href="{{site.baseurl}}css/footer.css">
    <link rel="stylesheet" href="{{site.baseurl}}css/pygments.css">
    <link rel="stylesheet" href="{{site.baseurl}}css/gh-fork-ribbon.css">
  </head>
  <body>
  <div id="wrapper">
    <header>
      {% include header.html %}
    </header>
    <div class="markdown-body">
      <nav>
        {% include navigation.html %}
      </nav>
      <article>
        {{ content }}
      </article>
      <footer>
        {% include footer.html %}
      </footer>
    </div>
  </div>
</body>
</html>
